.filter-fram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 90%;
    // background-color: rgba(179, 171, 171, 0.74);
    background-color: white;
    border-radius: 20px;
    align-items: center;

    .fram-header {
        display: flex;
        width: 95%;
        height: 10%;
        background-color: purple;
        margin-top: 4px;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        border-radius: 50px;

        p {
            color: white;
        }
    }

    .filter-body {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 85%;
        // background-color: red;

        .top{
            display: flex;
            width: 100%;
            height: 48%;
            // background-color: blue;

            .left {
                display: flex;
                justify-content: flex-start;
                width: 50%;
                height: 100%;
                // background-color: blue;
                color: black;

                p {
                    padding-left:5px;
                    padding-right:5px;
                    font-size:  15px;
                    font-weight:bold;
                    font-family: Arial, Helvetica, sans-serif;
                    color: gray;
                }

                input {
                    width: 15%;
                    height: 25px;
                    padding-left: 4px;
                }
            }

            .right {
                width: 50%;
                height:100%;
                // background-color: rgb(255, 255, 255);
                // background-color: blue;
                border: solid black 1px;

                .header {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 20px;
                    background-color: gray;
                } 

                .body {
                    width: 22.5%;
                    height: 9.4%;
                    display: flex;
                    overflow-y: auto;
                    display: grid;
                    grid-auto-flow: row;
                    grid-gap: 10px;
                    grid-template-columns: auto auto auto auto;
                    // background-color: red;
                    position: absolute;

                    .users {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 20px;
                        margin-left: 4px;
                        background-color: rgb(184, 179, 179);
                        border-radius: 50px;
                        margin-top: 2px;

                        &:hover {
                            background-color: rgb(14, 21, 78);
                            color: white;
                          }
                    }
                }
            }
        }
        
        .down {
            display: flex;
            width: 100%;
            height: 48%;
            // background-color: yellow;

            .left {
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 100%;
                // background-color: rgb(200, 255, 0);
                overflow: hidden;
                margin-bottom: 18PX;

                .form {
                    padding-top: 14px;
                    display: flex;
                    width: 100%;
                    // margin-left: 1px;
    
                    .search {
                        // border-color: white;
                        border: none;
                        box-shadow: rgba(0, 0, 0, 0.301) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                        height: 30px;
                        width: 100%;
                        background-color: rgb(255, 255, 255);
                        padding-left: 4px;
                        border: solid black 1px;
                    }

                    .search-btn {
                        cursor: pointer;
                        // border-color: rgb(214, 214, 214);
                        border: none;
                        height: 34px;
                        width: 50px;
                        background-color: rgb(255, 255, 255);
                        box-shadow: rgba(0, 0, 0, 0.301) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                        margin-right: 6px;
                        border: solid black 1px;
                    }
                }

                .feedback {
                    display: flex;
                    width: 100%;
                    // background-color: white;
                    margin-top: 2px;

                    textarea {
                        padding-left: 4px;
                        overflow: hidden;
                        display: flex;
                        overflow-y: auto;
                        width: 97%;
                        height: 44px;
                        border: solid black 1px;
                    }
                }
            }

            .right {
                display: flex;
                width: 50%;
                height:100%;
                // background-color: blue;
                margin-bottom: 20px;

                .btn {
                margin-top: 2px;
                width: 100%;
                display: flex;
                flex-direction: column;
                color: white;
                justify-content: flex-end;
                align-items: flex-end;
                margin-left: 10px;

                .warning {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 35px;
                    background-color: blue;
                    border-radius: 40px;

                    &:hover {
                        border: solid blue 1px;
                        background-color: white;
                        color: blue;
                    }
                }

                .remove {
                    cursor: pointer;
                    margin-top: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 35px;
                    background-color: red;
                    border-radius: 40px;

                    &:hover {
                        border: solid red 1px;
                        background-color: white;
                        color: red;
                        }
                    }
                }
            }
        }
    }
}