.main-member-fram {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-items: center;
    margin-bottom: 4px;

    .fram-header {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 5%;
        background-color: green;
        margin-top: 4px;
        border-radius: 20px 20px 0px 0px;
        align-items: center;
        justify-content: center;

        p {
            color: white;
        }
    }

    .table-fram {
        display: flex;
        flex-direction:column ;
        width: 95%;
        height: 76vh;
        // background-color: red;
        margin-top: 4px;
        // overflow-y: scroll;

        .table-header {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 10%;
            overflow-y: scroll;
            // background-color: aqua;

            .name {
                width: 30.2%;
                height: 75%;
                background-color: gray;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: solid black 0.1px;
                color: white;
            }

            .deatail {
                width: 20%;
                height: 75%;
                background-color: gray;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: solid black 0.1px;
                color: white;
            }

            .item-catagory {
                width: 28%;
                height: 75%;
                background-color: gray;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: solid black 0.1px;
                color: white;
            }

            .quality {
                width: 20%;
                height: 75%;
                background-color: rgb(128, 128, 128);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;   
                border: solid black 0.1px;
                color: white;
            }
        }

        .table-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 88%;
            // background-color: aqua;
            overflow-y: scroll;


            .data-section {
                display: flex;

                .body-name {
                    width: 30%;
                    height: 30px;
                    // background-color: gray;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: solid black 0.1px;
                }

                .body-deatail {
                    cursor: pointer;
                    width: 20%;
                    height: 30px;
                    // background-color: gray;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: solid black 0.1px;

                    &:hover {
                        color: blue;
                    }
                }

                .body-item-catagory {
                    width: 28%;
                    height: 30px;
                    // background-color: gray;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: solid black 0.1px;
                }

                .body-quality {
                    width: 20%;
                    height: 30px;
                    // background-color: rgb(128, 128, 128);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;   
                    border: solid black 0.1px;
                }
            }
        }
    }
}