*{
    padding: 0;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color:rgb(43, 2, 43);
    align-items: center;
}